/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f0f2f5;
}

.authPageWrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  padding: 20px 0 50px 50px
}

.authors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
}

.authors img {
  height: 200px;
  object-fit: cover;
}